.hidden{
    display: none;
}
.selected{
    background: $accent;
    animation: fadeIn 0.5s both;
}
.greentea {
    background: linear-gradient(rgba(117,156,78,0.4),rgba(117,156,78,0.8));
}
.blacktea{
    background:linear-gradient(rgba(158,72,40,0.4),rgba(158,72,40,0.8));
}
.milk.greentea{
    background: linear-gradient(rgba(244,243,203,0.7), rgba(117,156,78,0.8));
}
.milk.blacktea{
    background: linear-gradient(rgba(244,243,203,0.7), rgba(158,72,40,0.8));
}
.milk.taro{
    background: linear-gradient(rgba(244,243,203,0.7), rgba(190,125,246,0.8));
}
.milk.honeydew{
    background: linear-gradient(rgba(244,243,203,0.7), rgba(135, 255, 185, 0.8));
}
.milk.strawberry{
    background: linear-gradient(rgba(244,243,203,0.7), rgba(255, 145, 196, 0.9));
}
.rose.greentea{
    background: linear-gradient(rgba(117,156,78,0.4),rgba(238, 67, 81, 0.8));
}
.rose.blacktea{
    background:linear-gradient(rgba(158,72,40,0.4),rgba(238, 67, 81, 0.8));
}
.peach.greentea{
    background:linear-gradient(rgba(117,156,78,0.4),rgba(250, 97, 26, 0.8));
}
.peach.blacktea{
    background:linear-gradient(rgba(158,72,40,0.4),rgba(250, 97, 26, 0.8));
}
.grape.greentea{
    background:linear-gradient(rgba(117,156,78,0.4),rgba(126, 23, 223, 0.8));
}
.grape.blacktea{
    background:linear-gradient(rgba(158,72,40,0.4),rgba(126, 23, 223, 0.8));
}
