html{
    font-family: 'Capriola', sans-serif;
    text-transform: uppercase;
    background: url(../assets/geometry2.png);
}
h1{
    margin: 0;
    text-align: center;
    color: slateblue;
    font-size: 60px;
    grid-column: 1/3;
}
main{
    margin: 100px 0;
    .wrapper{
        background: rgba(255,255,255,0.7);
    }
}
.wrapper {
    max-width: 1180px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bbticon{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .lid{
        width:55%;
        height: 20px;
        border: 3px solid darkgrey;
    }
    .cup{
        width: 50%;
        height: 500px;
        border: 3px solid darkgrey;
        border-top: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            display: block;
            width: 30px;
            height: 250px;
            border-radius: 50%;
            top: 10px;
            right: 20px;
            background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.2));
        }
        .third{
            width: 95%;
            height: 33%;
            border: 2px solid darkgrey;
        }
    }
}
form{
    grid-column: 1;
}
fieldset{
    border: none;
    padding: none;
}
.teas,
.milks,
.addFlavourNoMilk,
.addFlavourWithMilk,
.toppings{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hidden{
    display: none;
}
.greentea {
    background: rgba(117,156,78,0.8);
}
.blacktea{
    background: rgba(103,49,49,0.8);
}
.milk{
    background: rgba(244,243,203,0.7);
}