html{
    font-family: 'Capriola', sans-serif;
    text-transform: uppercase;
    background: url(../assets/geometry2.png);
}
img{
    max-width: 100%;
    display: block;
}
h1{
    font-family: 'Londrina Outline', cursive;
    margin: 50px 0 10px 0;
    text-align: center;
    color: $fontColor;
    font-size: 100px;
    grid-column: 1/3;
    @media (max-width: 940px) {
        font-size: 80px;
    }
    @media (max-width: 480px) {
        font-size: 60px;
    }
}
h2{
    font-family: 'Londrina Outline', cursive;
    margin: 0;
    text-align: center;
    color: $fontAccent;
    font-size: 50px;
}
.wrapper {
    max-width: 1180px;
    margin:0 auto;
    
}
main{
    // margin: 50px 0;
    .wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        @media (max-width: 940px) {
        width: 100%;
        }
        @media (max-width: 480px) {
            flex-direction: column-reverse;
        }
    }
}

.bbticon{
    width: 45%;
    @media (max-width: 940px) {
        width: 40%;
    }
    @media (max-width: 768px) {
        width: 80%;
    }
    @media (max-width: 480px) {
        // position: fixed;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .lid{
        width:70%;
        height: 15px;
        border: 3px solid darkgrey;
        border-radius:15px;
        @media (max-width: 480px) {
            width: 70%;
        }
    }
    .cup{
        width: 60%;
        height: 450px;
        border: 3px solid darkgrey;
        border-radius: 0 0 15px 15px;
        border-top: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        @media (max-width: 940px) {
        width: 60%;
        height: 350px;
        }
        @media (max-width: 480px) {
            width: 60%;
            height: 200px;
        }
        &::after{
            content: '';
            position: absolute;
            display: block;
            width: 30px;
            height: 250px;
            border-radius: 50%;
            top: 20px;
            right: 30px;
            background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.2));
            @media (max-width: 480px) {
                height: 100px;
            }
        }
        .contents{
            width: 95%;
            height: 100%;
            margin-bottom: 10px;
            border: 2px solid darkgrey;
            border-top: none;
            border-radius: 0 0 15px 15px;
            transition: background 0.5s;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.addins{
    width: 100%;
    position: absolute;
    bottom: 0;
    .pearl,
    .grassJelly,
    .redBean,
    .coffeeJelly,
    .pudding{
        position: absolute;
        bottom:0;
        opacity: 0.8;
    }
    .pearl,
    .redBean{
        width: 20%;
    }
    // .pearl{
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    // }
}
.addons{
   width: 55%;
   @media (max-width: 940px) {
        width: 60%;
    }
}
fieldset{
    border: none;
    padding: 0;
    margin: 10px 0;
    position: relative;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    .button{
        float: left;
        width: 40%;
    }
    .options{
      float: left;
      width: 60%;
    }
}
.teas,
.milks,
.addFlavourNoMilk,
.addFlavourWithMilk,
.toppings{
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    flex-wrap: wrap;
    @media (max-width: 480px) {
        justify-content: space-between;
    }
}
input[type=radio]{
    // display: none;
}
input[type=radio]:checked{
    background: $accent;
}
.start{
    width: 50px;
    left:250px;
    position: absolute;
    @media (max-width: 768px) {
        left:-50px;
        img {
            transform: rotateY(180deg);
        }
    }
}
.replay{
    @media (max-width: 480px) {
        width: 80%;
        min-width: 60px;
    }
}
.blackTea,
.greenTea,
.yesMilk,
.noMilk,
.flavour,
.topping{
    @extend .button;
    width: 130px;
    background: $primaryTransparent;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
        width: 100px;
    }
    @media (max-width: 480px) {
        height: 50px;
    }
    label{
        padding: 10px;
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
}
.nameDrink{
    display: flex;
    flex-direction: column;
    color: $fontColor;
    margin: 20px 0;
    label{
        font-family: 'Londrina Outline', cursive;
        font-size: 40px;
    }
    input[type=text]{
        text-transform: uppercase;
        font-size: 12px;
        border: none;
        border-bottom: 2px solid $primary;
        width: 80%;
        margin-top: 10px;
    }
}
